{% extends "base.html" %}
{% block title %}Lista de Personas de V.C.F{% endblock %}
{% block content %}
    <h1>Lista de Personas de V.C.F</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Rango</th>
            <th>Código</th>
            <th>Persona que lo Registró</th>
        </tr>
        {% for persona in personas %}
            <tr>
                <td>{{ persona.nombre }}</td>
                <td>{{ persona.rango }}</td>
                <td>{{ persona.codigo }}</td>
                <td>{{ persona.persona_que_metio }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
